<!DOCTYPE html>
<html lang='ru'>
  head
    link(rel="stylesheet" type="text/css" href="/css/message.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet")
    title=title
  body
    div.main
      div.card
        h1=message
        h3
          a(href=link)=linkMessage