html {
    background-color: #fdfdfd;
    color: #2f2f2f;
    font-family: Open Sans;
}

a {
    color: black;
    text-decoration: none;
}

.content {
    align-content: baseline;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em;
    justify-content: center;    
    list-style-type: none;
}

.rating {
    border: 2px black solid;
    margin: 1em;
    padding: 30px;
    width: 25%;
}

.buttons {
    margin-top: 10px;
}

form a {
    font-weight: 600;
}

input {
    background-color: #fff;
    border: none;
    font-family: Open Sans;
    font-size: 1em;
    font-weight: 600;
}

input:hover {
    cursor: pointer;
}