html {
    font-family: Open Sans;
}

a {
    color: black;
    text-decoration: none;
}

.content {
    align-content: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em;
    justify-content: stretch;    
    list-style-type: none;
}

.rating {
    border: 2px black solid;
    margin-top: 20px;
    padding: 30px;
    width: 25%;
}