html, body {
    height: 100%;
}

body {
    margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1, a {
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    color: black;
    font-size: 1.25em;
    text-decoration: none;
}

.link {
    margin-top: 2em;
}

.card {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a:hover {
    text-decoration: underline 2px white;
}

input {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0.5em;
}

input[type="text"], input[type="password"]  {
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.1em;
    height: 1.25em;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    font-size: 1em;
}

input[type="submit"] {
    background-color: white;
    border: solid black 1px;
    font-size: 1.25em;
    height: 2em;
}