html {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    align-items: center;
    color: #000;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    width: 100%;
}

nav h1 {
    margin-left: 0.8em;
}

.bold {
    font-weight: 600;
}

h1 {
    font-size: 1.75em;
    padding: 0;
}

ul {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.25em;
    margin: 0 0.5em;
    text-transform: uppercase;
}

li:hover {
    text-decoration: underline 1px #000;
}

a {
    color: rgb(5, 5, 5);
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 1.5em;
}

.search {
    display: flex;
    margin: 0;
    width: 60%;
}

.search input {
    font-family: 'IBM Plex Sans', sans-serif;
}

.search input[type="text"] {
    border: 1px solid #000;
    font-size: 1.15em;
    font-weight: 600;
    height: 25px;
    padding: 6px 11px;
}

.search input[type="submit"] {
    background-color: white;
    border: 1px solid black;
    font-size: 1.15em;
    font-weight: 600;
    margin-left: 10px;
    height: 39px;
    width: 100px;
}

.content {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em;
    gap: 20px;
    justify-content: left;
}

.card {
    border: 1px black solid;
    color: black;
    font-weight: 400;
    max-height: 20%;
    margin-bottom: 1em;
    padding: 1em;
    width: 30%;
}

.card:hover {
    background-color: #e5e5e5;
}

.card-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card-header p {
    color: #000;
}

.card p {
    font-size: 1.1em;
    font-weight: 600;
    text-align: right;
}

.card h3 {
    font-weight: 400;
    margin-top: 0;
}

.heading {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.heading a {
    border: solid black 1px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.15em;
    font-weight: 600;
    padding: 0.75em;
    vertical-align: middle;
}

header p {
    font-size: 1.25em;
}

.buttons input {
    background-color: white;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1em;
    font-weight: 600;
}


@media (min-width: 1000px) and (max-width: 1200px) {
    .card {
        width: 40%;
    }
}
    
@media (min-width: 300px) and (max-width: 600px) {
    .main {
        align-items: center;
    }
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        
    }

    .heading {
        flex-direction: column;
    }

    nav ul li {
        width: 30%;
    }

    .search {
        width: 80%;
    }

    .search form {
        width: 100%;
    }

    .search input[type="input"]{
        margin-bottom: 10px;
        width: 80%;
    }

    .search input[type="button"]{
        margin-top: 1em;
        width: 10%;
    }

    .card {
        width: 85%;
    }

    .content {
        align-items: center;
        justify-content: left;
    }

    .card-header p {
        display: flex;
        flex-direction: column;
    }

    .card-header p i {
        margin-bottom: 0.2em;
    }
}